<div class="container">

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <form role="form" ng-submit="Register()">
      <h2 class="text-center">Sign Up</h2>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="form-group">
            <input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="First Name" tabindex="1" ng-model="data.fname" required>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="form-group">
            <input type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Last Name" tabindex="2" ng-model="data.lname" required>
          </div>
        </div>
      </div>
      <div class="form-group">
        <input type="number" name="display_name" id="display_name" class="form-control input-lg" placeholder="Mobile No." tabindex="3" ng-model="data.phone" required>
      </div>
      <div class="form-group">
        <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="4" ng-model="data.email" required>
      </div>
      <div class="form-group">
            <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="5" ng-model="data.pwd" required>
      </div>
      
      <div class="row">
        <div class="col-xs-12 col-md-6"><button type="submit" class="btn btn-primary btn-block btn-lg">Register</button></div>
        <div class="col-xs-12 col-md-6"><a href="#!/login" class="btn btn-success btn-block btn-lg">Sign In</a></div>
      </div>
      <div>
        <center><p ng-if="error" style="color: red; font-weight: bold;">{{error}}</p></center>
      </div>
    </form>
  </div>
</div>
